%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{sub_dirs, ["rel","apps/tcpperf"]}.
{lib_dirs, ["apps/tcpperf"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{deps, [
          {node_package, ".*", {git, "git://github.com/basho/node_package.git", {branch, "develop"}}},
          {eper, ".*", {git, "git://github.com/basho/eper.git", {tag, "3280b736"}}}
       ]}.
