%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "tcpperf", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
         public_key,
         ssl,
         os_mon,
         crypto,
         runtime_tools,
         tcpperf
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "tcpperf"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, eper, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, tcpperf, [{incl_cond, include}]}
      ]}.


{target_dir, "tcpperf"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log"},

           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
                  "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
                  "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner",
                  "bin/tcpperf"},
           {template, "../deps/node_package/priv/base/env.sh",
                  "lib/env.sh"},
           {template, "../deps/node_package/priv/base/app_epath.sh",
                  "lib/app_epath.sh"},

           %% Copy config files
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},

           {copy, "../ebin/etop_txt.beam", "lib/basho-patches"}
          ]}.
